body {
    font-family: sans-serif;
}

.searchSection {
    background-image: url("../static/img/back.svg");
    height: 400px;
    background-repeat: no-repeat;
}

.searchSection #header {
    text-align: center;
}

.searchSection #header h4 {
    font-size: 25px;
    padding-top: 70px
}

.searchSection .searchSection-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchSection .search-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 4px lightgrey;
    position: relative;
    border-radius: 15px;
}

.searchSection .search-ticker {
    width: 550px;
    border: none;
    height: 40px;
    color: #6d6d71;
    margin: 0 16px;
    border-right: rgb(241, 241, 241) 1px solid;
}

.searchSection .search-ticker::placeholder {
    color: #bbbbbb;
}

.searchSection .search-ticker:focus {
    outline: none;
}

.searchSection-content img {
    opacity: 0.2;
}

.searchSection-content img:hover {
    opacity: 0.4;
}

.search_btn {
    border: none;
    background: #ffffff;
    margin-left: 4px;
    margin-top: 2px;
}

.search_icon {
    background: #ffffff;
}

.clear_btn {
    border: none;
    background: #ffffff;
    margin-right: 10px;
    margin-top: 2px;
}

.reset_icon {
    background: #ffffff;
}

.errorSection {
    align-items: center;
    width: 550px;
    height: 40px;
    margin-top: 20px;
    margin-left: 660px;
    margin-bottom: 50px;
    display: flex;
    background-color: #ffffff;
    display: none;
    border-radius: 6px;
    border: 1px solid #dfdedecb;
    background-color: #dfdedecb;
    text-align: center;
    justify-content: center;
}

#companyResultSection {
    display: none;
    width: 800px;
    margin: auto;
    border: none;
    margin-top: 40px;
}

.subPage {
    overflow: hidden;
    border: 1px solid #dfdedecb;
    background-color: #F8F9FA;
    border: none;
}

.subPage button {
    background-color: #dfdedecb;
    border: none;
    color: #6d6d71;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    transition: 0.4s;
}

.subPage button:hover {
    background-color: #c7c6c6;
    color: white;
}

.subPage button.active {
    background-color: #858585;
    color: white;
}

.subPage .active1 {
    color: #747272;
}

.contentTab {
    display: none;
    padding: auto;
    border: none;
}